@import '../../shared/scss/variables';
.container {
  @apply flex flex-col justify-center mt-20 mx-39 mb-20;
  @import '../../shared/scss/media';
  @include media(lg) {
    @apply mx-20;
  }
  @include media(md) {
    @apply mx-10 mt-15;
  }
  @include media(sm) {
    @apply mx-4 mt-10;
  }
}
.title {
  @extend %title;
}
.forms {
  @apply flex flex-col justify-center;
}
.otpravit {
  @apply mt-15 flex justify-center;
  @include media(md) {
    @apply mt-10;
  }
  @include media(sm) {
    @apply mt-10;
  }
}
.input {
  @apply bg-based outline-none flex self-center border-b-2 border-white text-32 font-bold mt-15;
  width: 60vw;
  @include media(md) {
    width: 70vw;
    @apply text-3xl mt-10;
  }
  @include media(sm) {
    width: 100%;
    @apply text-2xl;
  }
}
