.wrapper {
  @apply relative overflow-hidden bg-funded flex h-15 items-center flex-row align-middle whitespace-nowrap w-full;
}
.text {
  @apply absolute flex items-center flex-row align-middle overflow-hidden;
}
.list {
  @apply flex flex-row align-middle gap-5 items-center mx-auto my-0 whitespace-nowrap overflow-hidden;
  animation: marq 15s linear infinite;
  padding-left: 20px;
}
.list2 {
  padding-left: 20px;
}
.list3 {
  padding-left: 20px;
}
.title {
  @apply text-base leading-4 min-w-fit;
}
.dot {
  @apply text-2xl font-bold leading-none;
}
@keyframes marq {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
// @keyframes marq {
//   0% {
//     transform: translateX(0%);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }
