@property --based {
  syntax: '<color>';
  initial-value: rgba(33, 156, 255, 1);
  inherits: false;
}

@property --funded {
  syntax: '<color>';
  initial-value: rgba(98, 214, 197, 1);
  inherits: false;
}

.button {
  @apply h-20 w-64 rounded-default flex text-4xl justify-center items-center;
  color: white;
  border: 0;
  background: rgba(33, 156, 255, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  cursor: pointer;
  background-image: linear-gradient(90deg, var(--based) 0%, var(--funded) 100%);
  background-image: -moz-linear-gradient(
    0deg,
    rgba(33, 156, 255, 1) 0%,
    rgba(98, 214, 197, 1) 100%
  ) !important;
  transition:
    --based 1s,
    --funded 1s;
}

.button:hover {
  --based: rgba(98, 214, 197, 1);
  --funded: rgba(33, 156, 255, 1);
  background-image: -moz-linear-gradient(
    0deg,
    rgba(98, 214, 197, 1) 0%,
    rgba(33, 156, 255, 1) 100%
  ) !important;
}
