@import '../../shared/scss/media';
.header {
  @apply flex justify-between h-15 text-base leading-none items-center w-screen px-39 sticky z-50 top-0;
  backdrop-filter: blur(20px) saturate(100%);
  -webkit-backdrop-filter: blur(20px) saturate(100%);
  background-color: rgba(22, 22, 22, 0.7);
  @include media(lg) {
    @apply px-20;
  }
  @include media(md) {
    @apply px-10;
  }
  @include media(sm) {
    @apply px-4;
  }
}

.header_logo {
  @apply flex items-center self-center z-20;
}
.number {
  @apply text-xl flex self-center;
  @include media(md) {
    @apply text-base;
  }
  @include media(sm) {
    @apply text-xs;
  }
}
.phone {
  @apply flex gap-2 flex-row align-middle;
}
.phone_icon {
  @include media(sm) {
    @apply w-4 h-4;
  }
}
