@import '../../shared/scss/media';
@import '../../shared/scss/variables';
.container {
  @apply mt-20 mx-39 grid;
  @include media(lg) {
    @apply mx-20 mt-15;
  }
  @include media(md) {
    @apply mx-10;
  }
  @include media(sm) {
    @apply mx-4 mt-10;
  }
}
.figure {
  @apply absolute -z-0 justify-self-end self-center select-none drag-none;
}
.title {
  @extend %title;
}
.cards {
  @apply grid grid-flow-col pt-15;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-rows: 100px 100px 100px 100px;
  column-gap: 24px;
  row-gap: 32px;
  z-index: 20;
  @include media(md) {
    column-gap: 10px;
    row-gap: 20px;
    grid-template-rows: 80px 80px 80px 80px;
    @apply pt-10;
  }
  @include media(sm) {
    column-gap: 8px;
    row-gap: 12px;
    @apply pt-5;
  }
}
.card {
  height: 100px;
  @include media(sm) {
    height: 80px;
  }
}
.lines {
  @apply flex relative justify-center top-0 z-0;
}
.border1 {
  @apply flex relative top-0;
  height: 1px;
  width: 420px;
  rotate: 90deg;
  background: linear-gradient(90deg, white 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 20px 3px;
  background-position: 0px 0px;
  padding: 10px;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 100px 0px;
  }
  100% {
    background-position: 300px 0px;
  }
}
