@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 0 0 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-color: #1c1c1c;
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161616;
}
::selection {
  color: #161616;
  background: white;
}
::-moz-selection {
  color: #161616;
  background: white;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;
} */
