@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 0 0 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-color: #1c1c1c;
  color: white;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161616;
}
::selection {
  color: #161616;
  background: white;
}
::-moz-selection {
  color: #161616;
  background: white;
}
