@import '../../scss/media';
.container {
  @apply bg-funded flex flex-col rounded-default h-fit w-360;

  @include media(lg) {
    @apply w-75;
  }
  @include media(sm) {
    @apply w-full;
  }
}
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.strike {
  position: relative;
  color: rgba(255, 255, 255, 50%);
  @apply mt-5 text-xs font-bold;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 50%);
  animation-name: strike;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.img {
  @apply flex self-end mr-5 mt-5 absolute m-auto z-0;
}
.header {
  @apply text-32 font-bold text-left z-10;
}
.price {
  @apply font-bold text-base z-10 mt-1;
}
.mainText {
  @apply flex w-full flex-col items-start mt-5 pl-10;
}
.serviceType {
  @apply font-bold text-xl z-10;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bulletList {
  @apply list-disc flex gap-5 flex-col justify-start text-start w-full ml-5 mt-10;
}
.bullet {
  @apply text-base font-bold mx-5;
  span {
    @apply relative;
  }
}
.button {
  @apply mt-10 mb-15 self-center;
}
